.form__back-link {
  cursor: pointer;
  width: 13px;
  height: 12px;
  margin: 0 7px 0 0;
  border: none;
  background: transparent url(../images/back.png) no-repeat (center /contain);
  opacity: 1;
  transition: opacity 1s ease;

  &:hover {
    opacity: .5;
    transition: opacity 1s ease;
  }

  &:focus {
    outline: none;
    opacity: .5;
    transition: opacity 1s ease;
  }

  @media screen and (max-width: 425px) {
    margin-right: 4px;
  }
}
