.form__submit {
  cursor: pointer;
  box-sizing: border-box;
  width: 151px;
  min-height: 48px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: $main-color 1px solid;
  border-radius: $border-radius;
  text-align: center;
  text-transform: uppercase;
  color: $main-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 2.53px;
  transition: $transform-colors;

  &:focus,
  &:hover {
    background-color: $main-color;
    color: $second-color;
    outline: none;
    transition: $transform-colors;
  }

  @media screen and (max-width: 425px) {
    width: 111px;
    min-height: 36px;
  }
}
