.form__password-star {
  background: url(../../../images/star-white.png) no-repeat (center /contain);
  min-height: 14px;
  min-width: 28px;

  .form__input_type_password:focus + .form__password-mask > &,
  .form__input_type_password:hover + .form__password-mask > & {
    background-image: url(../../../images/star-black.png);
  }
}
