.form__back-text {
  font-weight: 400;
  color: $main-color;
  opacity: .8;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;

  @media screen and (max-width: 425px) {
    letter-spacing: .5px;
  }
}
