.checkbox {
  box-sizing: border-box;
  margin: 0 8px 0 0;
  border: $main-color 1px solid;
  width: 44px;
  height: 24px;
  background: transparent;
  cursor: pointer;
  border-radius: $border-radius;
  position: relative;
}
