.checkbox__visible-checkbox {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 22px;
  height: 16px;
  background: $main-color;
  opacity: .3;
  border-radius: $border-radius;
  transition: .3s;

  .checkbox__input:checked + & {
    opacity: 1;
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }
}
