@import './constants.scss';
@import './blocks/page/page.scss';
@import './blocks/logo/logo.scss';
@import './blocks/form/form.scss';
@import './blocks/form/__back-wrapper/form__back-wrapper.scss';
@import './blocks/form/__back-link/form__back-link.scss';
@import './blocks/form/__back-text/form__back-text.scss';
@import './blocks/form/__fieldset/form__fieldset.scss';
@import './blocks/form/__input/form__input.scss';
@import './blocks/form/__input/_is-valid/form__input_is-valid_true.scss';
@import './blocks/form/__input/_is-valid/form__input_is-valid_false.scss';
@import './blocks/form/__input/_type/form__input_type_phone.scss';
@import './blocks/form/__input-label/form__input-label.scss';
@import './blocks/form/__password-mask/form__password-mask.scss';
@import './blocks/form/__password-star/form__password-star.scss';
@import './blocks/form/__services/form__services.scss';
@import './blocks/form/__remember-wrapper/form__remember-wrapper.scss';
@import './blocks/form/__text/form__text.scss';
@import './blocks/form/__link/form__link.scss';
@import './blocks/form/__submit/form__submit.scss';
@import './blocks/form/__submit/_disabled/form__submit_disabled.scss';
@import './blocks/checkbox/checkbox.scss';
@import './blocks/checkbox/__input/checkbox__input.scss';
@import './blocks/checkbox/__visible-checkbox/checkbox__visible-checkbox.scss';
